
.container{
  background-color:#d6d7eb;
  border: #1a1a1a;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin: 50px 50px;
}
button {
  border-radius: 8px;
  margin:5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #c4c5d8;
  cursor: pointer;
  transition: border-color 0.25s;
}
